<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/js/app.js"></script>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link text-muted dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Listar inmuebles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                                <!--<a class="dropdown-item" href="/inmuebles/tipo/5a7f2319d2f9113dad42aa01">Ver pisos</a>
                                <a class="dropdown-item" href="/inmuebles/tipo/5a7f2325d2f9113dad42aa05">Ver adosados</a>
                                <a class="dropdown-item" href="/inmuebles/tipo/5a7f2331d2f9113dad42aa0a">Ver áticos</a>
                                <a class="dropdown-item" href="/inmuebles/tipo/5a7f233cd2f9113dad42aa0e">Ver chalets</a>
                                <a class="dropdown-item" href="/inmuebles/tipo/5a7f234dd2f9113dad42aa18">Ver plantas bajas</a>-->
                                <a class="dropdown-item" href="/inmuebles">Ver todos</a>
                                <div class="dropdown-divider"></div>
                            </div>
                          </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="/nuevo_inmueble">Nuevo inmueble</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="container mt-4">
          