<%- include('cabecera'); %>
<div>
    <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login" name="login" />
    </div>
    <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" />
    </div>
    <div class="alert" id="errormsg"></div>
    <a class="btn btn-secondary text-white" href="/registro">Registrarse</a>
    <button class="btn btn-primary" onclick="submitLogin()">Enviar</button>
</div>
<div>
</div>
<%- include('pie'); %>